{{ partial "header.html" . }}

{{ if .Params.coverimage }}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img class="coverimage" src="{{ .Params.coverimage }}" />
        </div>
    </div>
</div>
{{ end }}

<div class="container pull-up">
    <div class="row">
        <div class="col-md-4 content-container">
            <h1>{{ .Title }}</h1>
            <h2>{{ partial "dates.html" . }}</h2>
        </div>
        <div class="col-md-8 post-content content-container">
            {{ .Content }}
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
