{{ partial "header_mainpage.html" . }}

<div class="container">
  <div class="col">
    <img src="/images/esel.svg" class="mx-auto d-block w-25 mt-4 mb-4">
  </div>
</div>

<div class="container">
  <div class="mainpage_content_box">
    {{.Content}}
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-6">
        <h2>Letzte Posts <small>⌨</small></h2>
        <ul class="mainpage_post_list">
          {{ range .Site.Sections }}
            {{ range first 10 .Pages }}
              {{ if eq .Type "post"}}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
              {{ end }}
            {{ end }}
          {{ end }}
        </ul>
    </div>

    <div class="col-md-6">
      <h2>Letzte Projekte <small>🤖</small></h2>
      <small>Sorry, es wird noch etwas dauern bis ich mit der Aufbereitung meiner Projekte fertig bin. 😞</small>
      <ul class="mainpage_project_list">
        {{ range .Site.Sections }}
          {{ range .Pages }}
            {{ if eq .Type "project"}}
              <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
